python-dotenv
rich>=11.2.0
Flask
requests
gunicorn  # Neccesary for app.yaml
pydantic # Neccesary for config.py
flask-login
#flask-sqlalchemy
#psycopg2-binary # PostgreSQL database adapter

renault-api # https://github.com/hacf-fr/renault-api
# Other API: renault-api-lite (https://github.com/bkogler/renault-api-lite)